<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asignación de Tareas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css')}}"></link>
        <link rel="stylesheet" href="{{ asset('public/css/style.css')}}"></link>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {{ include('menu.html.twig') }}
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('public/js/jquery-1.12.3.min.js')}}"></script>
         <script src="{{ asset('public/js/bootstrap.min.js')}}"></script>
    </body>
</html>
